# Ignora i modelli e le predizioni pesanti
outputs/
*.pth
*.inter

# Ignora i file di sistema
__pycache__/
.DS_Store
log/
log_tensorboard/
.ipynb_checkpoints/
results/
venv_warp_312/
datasets/yelp_json/
results/
warp_output/
